# ─── Supabase ─────────────────────────────────────────────────
VITE_SUPABASE_URL=https://cpznsmqbiummtwkwyqxs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwem5zbXFiaXVtbXR3a3d5cXhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwODk2ODIsImV4cCI6MjA5NTY2NTY4Mn0.8myUOHNbo-OcOZKuymMI-nTX8MMuQ_5fS3_2b1mf22M

# ─── App Config ───────────────────────────────────────────────
VITE_COFFEE_SHOP_NAME=Nama Coffeeshop Anda
# Countdown timer before auto-capture (seconds)
VITE_PHOTO_COUNTDOWN=3
